<%- include('../partials/header') %>

<div class="container">
  <h1>Register</h1>
  <form class="register-form" action="/register" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required>

    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>

    <button type="submit">Register</button>
  </form>
</div>

<%- include('../partials/footer') %>
